<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/customerapp.css') }}">
</head>
<body>
    <h2>Welcome to Driver App</h2>
    <button type="button" onclick="window.location.href='{{ url_for('driver_app', driver_id=driver_id) }}';">Refresh</button>
    <div>
        <h3>Waiting</h3>
        <div class="row">
            {% for request in waiting %}
                <div class="column">
                    <div class="card">
                        <ul>
                            <li>Request Id: {{ request[0] }}</li>
                            <li>Customer Id: {{ request[2] }}</li>
                            <li>{{ request[3] | timeago}}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h3>Ongoing</h3>
        <div class="row">
            {% for request in ongoing %}
                <div class="column">
                    <div class="card">
                        <ul>
                            <li>Request Id: {{ request[0] }}</li>
                            <li>Customer Id: {{ request[2] }}</li>
                            <li>Request: {{ request[3] | timeago}}</li>
                            <li>Picked Up: {{ request[4] | timeago}}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h3>Completed</h3>
        <div class="row">
            {% for request in completed %}
                <div class="column">
                    <div class="card">
                        <ul>
                            <li>Request Id: {{ request[0] }}</li>
                            <li>Customer Id: {{ request[2] }}</li>
                            <li>Request: {{ request[3] | timeago}}</li>
                            <li>Picked Up: {{ request[4] | timeago}}</li>
                            <li>Completed: {{ request[5] | timeago}}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>